html, body {
  height: 100%;
}

body > #root > div{
  height: 100vh;
}

.body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 16px;
  background-color: rgb(241, 241, 155);
  height: 3000px;
}

.btn {
  width: 150px;
  margin: 0px 5px;
}

.btn-new-game{
  width: auto;
  margin-left: 10px;
  align-self: center;
}

.btn-collection-card{
  display: flex;
  justify-items: center;
  flex-direction: row;
}

.card {
  width: 60%;
  align-self: center;
  margin: 20px 0px;
  border: none;
}

.card-header{
  background-color: rgb(18, 73, 16);
  color: rgb(248,247,36);
}

.center-piece {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form-group {
  padding: 0px 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
 }

 h1 {
   margin-top: 25px;
 }

.header-image {
  width: 100%;
  height: auto;
}

.like-btn {
  height: 40px;
  border: none;
  background-color: white ;
}

.like-count {
  display: flex;
  flex-direction: row;
}

.like-count > p {
  color: black;
  font-size: 2px;
}

.login-btns {
  display: flex;
  flex-direction: row;
}

.login-form {
  margin-top: 10px;
  color: rgb(40,168,69);
}

.login-form, .welcome-text{
  margin-left: 50px;
}

.login-page {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  background: url(../src/images/sunny-pineapple.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* navbar elements */

.logout-btn{
  border: none;
  background-color: rgb(18, 73, 16);
  color: rgb(40,168,69);
}

.logout-btn:focus,
.logout-btn:active{
	border: none;
	background:none;
	outline:none;
	padding:0;
}

.logout-btn:hover{
  color: rgb(248,247,36);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem 2.5rem;
  width: 100%;
  height: 15%;
  background-color: rgb(18, 73, 16);
}

.navbar--logo {
  width: 10rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.navbar--link {
  font-weight: 500;
  display: flex;
  list-style: none;
}

.navbar--link-item {
  margin: 0.4rem 1rem 0 0;
  padding: 0 0.3rem;
  cursor: pointer;
  color: rgb(40,168,69);
}

.navbar--link-item:hover{
  color: rgb(248,247,36);
  text-decoration: none;
}

.popup {  
  position: fixed;  
  width: 50%;  
  height: 50%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(40,168,69);  
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}

.search-section{
  margin-top: 30px;
  display: flex;
  width: 50%;
}

.select{
 width: 50%;
}

.welcome-text {
  color: rgb(40,168,69);
  width: 320px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.welcome-text > p {
  text-align: center;
}