body > #root > div{
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  margin: 0;
  font-size: 16px;
}

.btn {
  width: 150px;
  margin: 0px 5px;
}

.card {
  width: 80%;
  align-self: center;
  margin: 20px 0px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form-group {
  padding: 0px 0px;
}

.like-btn {
  height: 40px;
  border: none;
  background-color: white ;
}

.like-count {
  display: flex;
  flex-direction: row;
}

.like-count > p {
  color: black;
  font-size: 2px;
}

.login-btns {
  display: flex;
  flex-direction: row;
}

.login-form {
  margin-top: 10px;
  color: rgb(40,168,69);
}

.login-form, .welcome-text{
  margin-left: 50px;
}

.login-page {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  background: url(../src/images/sunny-pineapple.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome-text > p {
  text-align: center;
}

/* Nav elements */

.logout-btn {
  border: none;
  background-color: white;
}

*{
  margin: 0;
  padding: 0;
}

.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  max-width: 600px;
  margin: 50px auto;
  overflow: hidden;
}

.slidemenu label{
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 100%;
  height: 5px;
  display: block;
  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 25%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}



.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }


.popup {  
  position: fixed;  
  width: 50%;  
  height: 50%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(40,168,69);  
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}

.select-search {
  width: 500px;
  position: relative;
  font-family: 'Tahamo', sans-serif;
  font-size: 16px;
  box-sizing: content-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
    background: #2eb378;
    color: #fff;
}

.select-search--multiple {
  border-radius: 3px;
  overflow: hidden;
}

.welcome-text {
  color: rgb(40,168,69);
  width: 320px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}